#----C++.gitignore----
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

#----CMake.gitignore----
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

#----Netbeans.gitignore----
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

#----CPack.gitignore----
_CPack_Packages
CPackConfig.cmake
CPackSourceConfig.cmake

#----others----
libfcgicpp*
Makefile-fcgi_client.mk
build
